<ng-include src="'assets/templates/siteNavigation.html'"></ng-include>

<div class="content">

<div class="container ng-scope">
  <h2>Our Story</h2>
  <h3>Our Vision</h3>
  <p>Allowing businesses and HR professionals to comply with the vast complexities of HR management at minimal costs.</p>
  <p>HRM is designed to be a platform for HR colleagues who do not have access to top end, expensive software programs. HRM has been designed by award winning HR professionals, Employment Lawyers, Learning and Development and Work Health and Safety specialists with the aim of giving something back to the profession at&nbsp;minimal&nbsp;costs. HRM’s complex frameworks and inbuilt technologies allow businesses and HR colleagues to comply with even the most complex requirements while enjoying a vast range of HR tools and reports to increase productivity and HR's&nbsp;reputation&nbsp;in the corporate&nbsp;environment.&nbsp;</p>
  <h3>Our History</h3>
  <p>Australia is both renowned and criticised for having one of the most complex and dynamic workplace relations systems in the world. Highly political in nature, the Industrial relations landscape often changes with each consecutive government and as many HR professionals agree, industrial relations is a political football ground. </p>
  <p>Over the past 20 years, we at HRM have been working in the fields of HR, ER and Employment Law. Having providing specialist training on behalf of the Fair Work Ombudsman and WorkCover/Worksafe, we have educated hundreds of businesses and senior managers in various aspects of HR compliance.&nbsp; </p>
  <p>Having also won various awards in the process, HRM has been designed to be a platform enabling not only compliance, but also a forum allowing greater communications between HR colleagues.</p>
  <h3>What We Offer</h3>
  <p>Compliance and practicable HR tools at a minimal cost. At HRM, we understand the employee life cycle in a workplace. We understand many business cannot afford dedicated and qualified HR professionals and businesses with HR professionals, are often overwhelmed with keeping up with compliance whilst juggling the competing priorities from an operational and sales perspective. </p>
  <p>HRM is designed to supplement HR professional’s tools and give reporting system that provide quality metrical data and compliance measures. It is designed in plain English allowing the HR manager to outsource many functions to operational managers while HR coordinating HR operations from a remote location.&nbsp; </p>
  <p>HRM has complex permissions, dashboards and systems allowing HR functions to be managed by key operational managers whilst retaining confidentiality of data.&nbsp; </p>
  <h3>Why We Are Different</h3>
  <p>At HRM, we know that many leading HR systems focus on payroll and/or work health and safety. </p>
  <p>HRM focuses on total HR management and includes not only payroll and WHS modules, but also modules on Training and Development, Recruitment, and Performance Management making HRM, a solid platform for any HR professional. </p>
  <p>HRM is designed to be a end to end HR package a minimal costs.</p>
</div>

<!-- end of container -->
</div>
</div>
