<ng-include src="'assets/templates/siteNavigation.html'"></ng-include>

<div class="shell page-shell">

    <div class="container">
        <h2>Contacts</h2>
        <p><strong>HRM EMAIL CONTACT DETAILS</strong></p>
        <ul>
            <li>Sales&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;<a href="mailto:sales@hrmaster.com.au">sales@hrmaster.com.au</a></li>
            <li>Accounts &nbsp;|&nbsp;<a href="mailto:accounts@@hrmaster.com.au">accounts@hrmaster.com.au</a></li>
            <li>Support&nbsp;&nbsp;&nbsp; |&nbsp;<a href="mailto:support@hrmaster.com.au">support@hrmaster.com.au</a></li>
        </ul>
        <p>
            <br>
            <br>
            <strong>HRM PO BOX DETAILS</strong></p>
            <ul>
                <li>(T) - N/A&nbsp;(outbound calls only, Please if requred please email request)</li>
                <li>(W) - <a href="http://www.hrmaster.com.au/">www.hrmaster.com.au</a></li>
                <li>(P) - PO Box 676, Engadine, NSW, 2233</li>
            </ul>
            <p>
                <br>
                <br>
                <strong>BANKING DETAILS</strong></p>
                <ul>
                    <li>Bank - Commonwealth Bank</li>
                    <li>Branch - Martain Plance</li>
                    <li>BSB - </li>
                    <li>A/C - </li>
                    <li>ABN - </li>
                </ul>
            </div>
            <!-- end of shell -->
</div>
