<ng-include src="'assets/templates/siteNavigation.html'"></ng-include>

<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
-->
<!-- testimonial -->
<section class="testimonial">
    <h2>Manage your human resources effectively </h2>
    <p>
        <strong>“</strong>HR Masters OPTRON technology has been designed by award winning leaders in employment relations and human resource management. OPTRON allows businesses to easily comply with the day to day requirements of running your human resources functions. Whether it be recruitment, training and development, work health and safety, termination or industrial relations generally, HR Master will give you the necessary tools to manage your business compliance in every area.<span class="mobile"><strong> ”</strong></span>
    </p>
</section>

<div class="hr-break"></div>

<section class="blog">
    <!-- content -->
    <div class="maincontent">
        <div class="different-layouts">
            <img src="webroot/css/images/i-img.png" alt="">
        </div>
        <div class="detail">
            <h3>Designed by award winning leaders in employment relations and work health and safety</h3>
            <p>HR Master has been designed by employment lawyers and award winning HR professionals ensuring your business, gets the tools it needs.</p>
            <ul>
                <li><a href="#solution/work-health-and-safety">Work Health &amp; Safety</a></li>
                <li><a href="#solution/industrial-relations">Industrial Relations</a></li>
                <li><a href="#solution/recruiment-and-training">Recruitment &amp; Training</a></li>
                <li><a href="#solution/discipline-and-terminationy">Discipline &amp; Termination</a></li>
                <li><a href="#solution/key-hr-metrical-data-and-reports">Key HR Metrical Data &amp; Reports</a></li>
            </ul>
        </div>
    </div>
    <!-- end of content -->
    <!-- sidebar -->
    <aside class="sidebar">
        <!-- widget -->
        <div class="testimonial">
            <h3>Testimonials</h3>
            <ul class="container" drctv>
                <li>
                    <div class="img-holder">
                        <img src="webroot/css/images/lacasaitaliana.png" alt="">
                    </div>
                    <p>We have been using the work health and safety module in HRM for years and it has never let us down. The PPE, Injury, Plant, Audit and other registers are by far, the best we have used in any software package. Well done! - Lynette Sumner (La Casa Italiana).</p>
                </li>

                <li>
                    <div class="img-holder">
                        <img src="webroot/css/images/AppSunderLogo.png" alt="">
                    </div>
                    <p>Thanks again Geoff. Your training system in HRM is second to none. I have used many leading learning and development systems and yours does the job except at 1/4 the price. Thanks again. Rabbie Abu Zalaf (App Sunder).</p>
                </li>
                <li>
                    <div class="img-holder">
                        <img src="webroot/css/images/healingHandsClinic.fw.png" alt="">
                    </div>
                    <p>HRM is an essential tool for anyone trying to implement solid, robust and holistic, HR systems. We used to use a combination of systems and after seeing and using this once, I can't imagine running our business without HRM. This is the best value for money HR system we have every used. Thank you. G.R, (Healing Hands Clinic)</p>
                </li>
            </ul>
            <div class="cl">&nbsp;</div>
        </div>
        <!-- <a href="#" class="view">View All</a> -->
        <!-- end of widget -->
    </aside>
    <!-- end of sidebar -->
    <div class="cl">&nbsp;</div>
</section>

<div class="hr-break"></div>

<section class="features">
    <div class="feature">
        <h3>Work Health &amp; Safety</h3>
        <div class="feature-content">
            <div>
                <img src="webroot/css/images/safety_icon.fw.png" alt="">
            </div>
            <div class="col-cnt">
                <p>Manage your businesses work health and safety with HR Masters audit, injury, personal protective equipment, and chemical reregisters.</p>
            </div>
        </div>
        <a href="#solution" class="view">View More</a>
    </div>

    <div class="feature">
        <h3>Industrial Relations</h3>
        <div class="feature-content">
            <div>
                <img src="webroot/css/images/ir_icon.fw.png" alt="">
            </div>
            <div class="col-cnt">
                <p>Save time and resources by utilising our fully integrated OPTRON technology enabling efficient and effective a human resources management.</p>
            </div>
        </div>
        <a href="#solution" class="view">View More</a>
    </div>

    <div class="feature">
        <h3>Training and Development</h3>
        <div class="feature-content">
            <div>
                <img src="webroot/css/images/classroom_icon.fw.png" alt="">
            </div>
            <div class="col-cnt">
                <p>Save time and money by allowing HR Masters OPTRON technology manage your businesses training and development.</p>
            </div>
        </div>
        <a href="#solution" class="view">View More</a>
    </div>
    <div class="cl">&nbsp;</div>
    <br />

</section>
