<ng-include src="'assets/templates/siteNavigation.html'"></ng-include>

<div class="container">
    <h2>Solutions</h2>
    <h3 id="work-health-and-safety">Work Health &amp; Safety</h3>
    <p>Using OPTRON technology, HR Master allows users to manage their Work Health and Safety by utlising HRM's wide array of registers including it's safety data sheet, plant maintenance injury, safe operating procedure and workers compensation registers.</p>
    <h3 id="industrial-relations">Industrial Relations</h3>
    <p>Designed by employment lawyers and HR professionals, HR Master is designed with full employee integration and registers which prompt users to ensure the correct data is entered where required. Web page and e-mail reminders are triggered when necessary.</p>
    <h3 id="recruiment-and-training">Recruitment &amp; Training</h3>
    <p>With OPTRON's recruitment integration, users can save time and money by creating induction and training courses and integrate that into the employees database. contracts, policy builders, systems for assessment and cessation are all part of OPTRON's award winning employee integration system ensure you have the tools needed for full compliance at minimal cost.</p>
    <h3 id="discipline-and-terminationy">Discipline &amp; Termination</h3>
    <p> THR Master has been designed by employment lawyers and award winning HR professionals ensuring your business, gets the tools it needs.</p>
    <h3 id="key-hr-metrical-data-and-reports">Key HR Metrical Data &amp; Reports</h3>
    <p>HR Masters reporting and analytical systems provide HR and Operation professional not only reports designed to quickly identify trends but also fully integrated breakdown of WHS, department and employee costing accross a wide range of platforms.</p>
</div>
